/*

Template 2080 Minimax

http://www.tooplate.com/view/2080-minimax

*/

body
	{
		background: #fff;
		font-family: 'lane_-_narrowregular', sans-serif;
    line-height: 30px;
	}

@font-face {
    font-family: 'lane_-_narrowregular';
    src: url('../fonts/LANENAR_-webfont.eot');
    src: url('../fonts/LANENAR_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LANENAR_-webfont.woff') format('woff'),
         url('../fonts/LANENAR_-webfont.ttf') format('truetype'),
         url('../fonts/LANENAR_-webfont.svg#lane_-_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

h2,h3 {
  font-weight: bold;
}

hr {
  border-color: #f2af00;
  margin: 0;
  opacity: 0.3;
}

img {
  max-width: 100%;
  height: auto;
  transition: all 0.3s ease-in;
}
img:hover {
  cursor: pointer;
  opacity: 0.5;
}

/* navigation */
.navbar-default {
    background: #fff;
    border: none;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
    margin: 0 !important;
  }
.navbar-default .navbar-brand {
    background: #dc5034;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;
    height: 90px;
    margin: 0;
    padding: 20px 20px 40px 20px;
	transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
   }
.navbar-brand:hover, .navbar-brand:clicked {
  background: dc5034;
}
.navbar-default .navbar-nav li a {
    border-right: 1px solid #f9f9f9;
    color: #202020;
     font-weight: bold;
    padding-right: 40px;
    padding-left: 40px;
    line-height: 60px;
	
	transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
  }
.navbar-default .navbar-nav > li > a:clicked,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f2af00;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #f2af00;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
    border: none;
    padding-top: 30px;
}
.navbar-default .navbar-toggle .icon-bar {
    background: #dc5034;
    border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { 
  background-color: transparent 
}
.messages { 
	color: #F00;
	font-size: 1.5em;
	font-weight: bold;
	padding-bottom: 10px;
}

/* home section */
#home {
  background: url('../images/DSC_3976_l.jpeg')no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 600px;
  padding-top: 220px;
  padding-bottom: 100px;
}
#home h1 {
  color: #f2af00;
  font-weight: 300;
  padding-bottom: 10px;
}
#home h2 {
  line-height: 10px;
}
#home .btn {
  background: rgba(255, 255, 255, 0.6);
  border: 2px solid #444;
  border-radius: 0px;
  color: #444;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding-top: 14px;
  width: 200px;
  padding: 20px;
  margin-top: 20px;
   transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}
#home .btn:hover {
  background: #dc5034;
  border-color: transparent;
  color: #fff;
}

/* login section */
#login .form-control {
  border: 2px solid #444;
  border-radius: 0px;
  box-shadow: none;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 20px;
}
#login .form-control:focus {
  opacity: 0.8;
  position: relative;
  bottom: 10px;
}
#login input {
  height: 50px;
}
#login label {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}
#login input[type="checkbox"] {
    height: 13px;
    margin: 0;
    position: relative;
    margin-right: 12px;
    top: 1px;
}
#login input[type="submit"] {
  background: #444;
  color: #ffffff;
  transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}
#login input[type="submit"]:hover {
  background: #f2af00;
  border-color: transparent;
}

/* account section */
#account .form-control {
  border: 2px solid #444;
  border-radius: 0px;
  box-shadow: none;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 20px;
}
#account .form-control:focus {
  opacity: 0.8;
  position: relative;
  bottom: 10px;
}
#account input {
  height: 50px;
}
#account label {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}
#account input[type="submit"] {
  background: #444;
  color: #ffffff;
  transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}
#account input[type="submit"]:hover {
  background: #f2af00;
  border-color: transparent;
}

/* forgotPassword section */
#forgotPassword .form-control {
  border: 2px solid #444;
  border-radius: 0px;
  box-shadow: none;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 20px;
}
#forgotPassword .form-control:focus {
  opacity: 0.8;
  position: relative;
  bottom: 10px;
}
#forgotPassword input {
  height: 50px;
}
#forgotPassword label {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}
#forgotPassword input[type="submit"] {
  background: #444;
  color: #ffffff;
  transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}
#forgotPassword input[type="submit"]:hover {
  background: #f2af00;
  border-color: transparent;
}

/* service section */
#service {
  padding-top: 100px;
  padding-bottom: 80px;
}
#service h2 {
  border-left: 2px solid #f2af00;
  display: inline-block;
  padding: 20px;
}
#service .fa {
  border-top: 3px solid #f2af00;
  border-bottom: 3px solid #dc5034;
  border-radius: 50%;
  font-size: 32px;
  color: #dc5034;
  text-align: center;
  vertical-align: middle;
  margin-top: 50px;
  margin-bottom: 15px;
  padding: 40px;
}
#service .form-control {
  border: 2px solid #444;
  border-radius: 0px;
  box-shadow: none;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 20px;
}
#service .form-control:focus {
  opacity: 0.8;
  position: relative;
  bottom: 10px;
}
#service input {
  height: 50px;
}
#service input[type="submit"] {
  background: #444;
  color: #ffffff;
  transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}
#service input[type="submit"]:hover {
  background: #f2af00;
  border-color: transparent;
}

/* about section */
#about {
  padding-top: 60px;
  padding-bottom: 80px;
}
#about h2 {
  border-right: 2px solid #f2af00;
  display: inline-block;
  padding: 10px 20px 10px 10px;
}
#about .col-md-12 {
  text-align: center;
  padding-bottom: 60px;
}
#about img {
  border: 1px solid #666;
  padding: 10px;
}
#about h4 {
  padding-bottom: 10px;
}

/* team section */
#team {
  padding-top: 60px;
  padding-bottom: 100px;
}
#team h2 {
  border-left: 2px solid #f2af00;
  display: inline-block;
  padding: 10px 10px 10px 20px;
}
#team h4 {
	padding-bottom: 40px;
}
#team .col-md-12 {
  text-align: center;
  padding-bottom: 60px;
}
#team img {
  border: 1px solid #666;
  padding: 15px;
}

/* portfolio section */
#portfolio {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 60px;
  }
#portfolio h2 {
  border-right: 2px solid #f2af00;
  display: inline-block;
  padding: 10px 20px 10px 10px;
}
/* FILTER CSS */
.filter-wrapper {
    width: 100%;
    margin: 0 0 24px 0;
    overflow: hidden;
    text-align: center;
}
.filter-wrapper li {
    display: inline-block;
    margin: 4px;
}
.filter-wrapper li a {
    color: #999999;
    font-size: 16px;
    font-family: 'lane_-_narrowregular', sans-serif;
    font-weight: bold;
    padding: 8px 17px;
    display: block;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}
.filter-wrapper li a.selected,
.filter-wrapper li a:focus,
.filter-wrapper li a:hover {
    background: #f2af00;
    border-color: transparent;
    color: #ffffff;
  }

/* ISOTOPE BOX CSS */
.iso-box-section {
    width: 100%;
}
.iso-box-wrapper {
    width: 100%;
    padding: 0;
    clear: both;
    position: relative;
}
.iso-box {
    position: relative;
    min-height: 50px;
    float: left;
    overflow: hidden;
    margin-bottom: 20px;
}
.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.fluid-img {
  width: 100%;
  display: block;
}

/* pricing section */
#pricing {
  padding-top: 60px;
  padding-bottom: 80px;
  text-align: center;
}
#pricing h2 {
  border-left: 2px solid #f2af00;
  display: inline-block;
  padding: 10px 10px 10px 20px;
}
#pricing .plan {
  border: 2px solid #444;
  padding: 20px 20px 40px 20px;
  margin-top: 60px;
}
#pricing .plan .plan-title {
  border-bottom: 2px solid #444;
  padding: 20px 10px 20px 10px;
  margin-bottom: 20px;
}
#pricing .plan small,
#pricing .plan ul li {
  font-family: 'Raleway', sans-serif;
}
#pricing .plan ul {
  padding: 0;
}
#pricing .plan ul li {
  display: block;
  padding: 16px 0px 16px 0px;
}
#pricing .plan .btn {
  background: transparent;
  border: 2px solid #444;
  border-radius: 0px;
  color: #000;
  font-weight: bold;
  width: 140px;
  height: 50px;
  transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}
#pricing .plan .btn:hover {
  background: #f2af00;
  border-color: transparent;
}

/* contact section */
#contact {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
#contact h2 {
  border-right: 2px solid #f2af00;
  display: inline-block;
  padding: 10px 20px 10px 10px;
  margin-bottom: 60px;
}
#contact .form-control {
  border: 2px solid #444;
  border-radius: 0px;
  box-shadow: none;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 20px;
}
#contact .form-control:focus {
  opacity: 0.8;
  position: relative;
  bottom: 10px;
}
#contact input {
  height: 50px;
}
#contact input[type="submit"] {
  background: #444;
  color: #ffffff;
  transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}
#contact input[type="submit"]:hover {
  background: #f2af00;
  border-color: transparent;
}
#contact p {
  padding-top: 10px;
}
.form-control::-moz-placeholder {
  color: #202020;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #202020;
}
.form-control::-webkit-input-placeholder {
  color: #202020;
}

/* results section */
#results h2 {
  border-right: 2px solid #f2af00;
  display: inline-block;
  padding: 10px 20px 10px 10px;
}
#results .col-md-12 {
  text-align: center;
  padding-bottom: 60px;
}
#results th, #results td {
	font-size: 1.4em;
}

/* footer section */
footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
footer h2 {
  border-bottom: 2px solid #444;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}
footer p {
  line-height: 20px;
}
footer span {
  font-weight: bold;
  padding-left: 20px;
}
.social-icons {
  padding: 0;
  margin: 0;
}
.social-icons li {
  display: inline-block;
  list-style: none;
}
.social-icons li a {
  background: #444;
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  margin-right: 10px;
  transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}
.social-icons li a:hover {
  background: #f2af00;
}

/* copyright section */
.copyright {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

/* scrolltop section */
.go-top 
  {
    background-color: #f2af00;
    font-size: 26px;
    bottom: 2em;
    right: 2em;
    color: #FFF;
    display: none;
    position: fixed;
    text-decoration: none;
    width: 60px;
    height: 60px;
    line-height: 58px;
    text-align: center;
	transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
  }
.go-top:hover
  {
    background-color: #444;
	color: #fff;
  }

/* media 960 */
@media only screen and ( max-width: 980px ) {
  .navbar-default .navbar-nav li a {
    padding-right: 20px;
    padding-left: 40px;
    line-height: 30px;
  }
}

/* media 360 */
@media only screen and ( max-width: 360px ) {
  #team h4 {
    padding-bottom: 30px;
  }
}