<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="testng" verbose="1">
	<test name="tomcat">
		<groups>
			<run>
				<include name="web" />
				<include name="log" />
				<include name="http" />
				<include name="data" />
				<include name="enumeration" />
				<include name="bruteforce" />
				<include name="plaintext" />
			</run>
		</groups>
		
		<packages>
      		<package name=".*" />
  		</packages>
	</test>

	<test name="docker">
		<groups>
			<run>
				<include name="filesystem" />
			</run>
		</groups>
		
		<packages>
      		<package name=".*" />
  		</packages>
	</test>
</suite>